@import url(./__title/choose__title.css);
@import url(./__subtitle/choose__subtitle.css);
@import url(./__progressbar/choose__progressbar.css);
@import url(./__line/choose__line.css);
@import url(./__button/choose__button.css);
@import url(./__container/choosee__container.css);

.choose{
    background-image: url("../../images/Rectangle.svg");
    background-repeat: no-repeat;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -672px;
    padding: 0px 121px;
    
}