@import url(./__img/card__img.css);
@import url(./__name/card__name.css);
@import url(./__price/card__price.css);
@import url(./__text/card__text.css);
@import url(./__home/card__home.css);
@import url(./__bottom/card__bottom.css);
@import url(./__top/card__top.css);


.card {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    max-width: 376px;
    min-height: 480px;
    border-radius: 15px;
    box-shadow: 0px 20px 20px rgba(192, 203, 222, 0.235604);
    margin-bottom: 50px;
}